.button {
    display: inline-block;
    border: none;
    width: 100px;
    height: 40px;
    padding: 5px;
    background-color: #B53471;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}