.footer__page {
    height: 5%;
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 1;
    background-color: white;
}

.footer__title {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
